.header {
    display: flex;


}
.header__left {
    display: flex;
}

.header__left > img {
    object-fit: contain;
    height: 35px;
    margin-right: 5px;
  
}
.header__search {
    padding: 10px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    height: 20px;
    color: grey;
    background-color: #eef3f8;

}

.header__search > input {
    padding: 1;
    background-color: #eef3f8;
    outline: none;
    border: none;
}

.header__right{
    
}